%p.logout{:style=> "text-align: right; font-size: .75em;"}
  =if current_user
    -link_to "Logout", logout_path, id: "logout", method: 'delete'

%h1 Listing companies

%table
  %tr
    %th Name
    %th

- @companies.each do |company|
  %tr
    %td= company.name
    %td
      %ul
        %li= link_to 'Show', company
        %li= link_to 'Edit', edit_company_path(company)
        %li= link_to 'Destroy', company, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Company', new_company_path, id: 'new_company'
= link_to 'Go to People', people_path, id: 'people'